.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 80%;
    margin: auto;
}

#Main { width : 40%; height : 400px; margin : auto; padding : 40px; }

#name { font-size : 26px; font-weight: bold; margin-bottom : 30px; border-bottom : 1px solid #000; width : 100%; }

#description { margin-bottom : 30px; font-size : 20px; }

#shoutout { margin : 20px auto; }

 blockquote {
    quotes:"\201C" "\201D";
    margin : 40px 40px !important;
    background-color : #FFE396;
    border-left : 0px !important;
    box-shadow : 0px 0px 20px #888;
}
blockquote:before, blockquote:after {
    font:bold 65px/1px Helvetica;
    color:#000;
    position:absolute;
}
blockquote:before {
    content:open-quote;
    margin:5px 25px 0 -25px;

}
blockquote:after {
    content:close-quote;
    margin:51px 0px 0px 0px;
}
